* {
    font-family: "Lato", sans-serif;
  }
  
  /* Estilos de la barra navegacion*/
section img.logo {
    display: flex;
    width: 7rem;
    height: auto;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  header .navegacion {
    background-color: #c61313;
  }
  header .navegacion .navbar-brand {
    margin: 0%;
  }
  header .navegacion .navbar-brand img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  header .navegacion .navbar-brand img:hover {
    box-shadow: 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
  }
  header .navegacion .navbar-nav {
    flex-wrap: wrap;
    align-items: center;
  }
  header .navegacion .navbar-nav .nav-link {
    color: #e9e3dc;
    border: solid;
    border-color: #520202;
  }
  header .navegacion .navbar-nav .nav-link:hover {
    color: #eeeceb;
    background-color: #9e0808;
  }
  header .navegacion .navbar-nav .active {
    color: #eeeceb;
    background-color: rgba(85, 4, 4, 0.5);
  }
  header .navegacion .navbar-toggler {
    flex-basis: auto;
    justify-content: flex-end;
    margin-bottom: 3%;
  }
  header .navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    justify-content: flex-end;
  }
  header .navbar-expand-lg .navbar-collapse:not(.show) {
    display: none;
  }


/*Estructura y estilos de reservas*/

.reserva-main{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(../preEntrega-mansilla/assets/vista-superior-comida-deliciosa-espacio-copiar.jpg);
    background-size: cover;
  
  }
  
  .reservaTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f245458e;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    color: #2b2a29e0;
    border-radius: 10px;
    height: 75%;
    width: 65%;
    margin: 5%;
    border: 1px solid rgb(120, 7, 7);
    border-radius: 5%;
    padding: 5%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(224, 29, 29, 0.841);
    font-weight: bold;
  
  }
  
  .reservaTitle {
    margin-top: 5%;
    border-bottom: 1px solid rgb(120, 7, 7);
    color: #e9e3dc;
  
  }
  
  .form-floating {
    margin: 5%;
  }
  
  
  .calendar {
    width: 350px;
    background-color: rgba(233, 87, 87, 0.496);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f64f4fe3;
    color: white;
    padding: 10px 20px;
  }
  
  .month button {
    background-color: #d3575760;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 4%;
    border: 1px rgba(82, 2, 2, 0.5) solid;
  
  }
  
  .days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #ccc;
  }
  
  .day, .date {
    background-color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .day {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .date.empty {
    background-color: transparent;
  }
  
  
  
  #time-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .time-button {
    background-color: #ce1414;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 4%;
    border: 1px rgba(82, 2, 2, 0.5) solid;
  }
  
  .time-button:hover {
    background-color: #ad0009;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    color: #f7f6f4;
  }
  
  .confirmaReserva {
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .btn-pizzeria {
    background-color: #ce1414;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 4%;
    border: 1px rgba(82, 2, 2, 0.5) solid;
  }
  .btn-pizzeria:hover {
    background-color: #ad0009;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
    color: #f7f6f4;
  }

  /*Estilos de footer*/
.pie-pagina {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #525151;
    color: #eeeceb;
    padding-bottom: 2%;
    padding-top: 2%;
    border-top: 1px solid #5a0000;
  }
  .pie-pagina .contenedor-pie {
    width: 25%;
  }
  .pie-pagina .contenedor-pie .titulo-pie {
    font-size: large;
    font-weight: 600;
  }
  .pie-pagina .contenedor-pie .social {
    color: #eeeceb;
  }
  .pie-pagina .contenedor-pie .logo-red {
    width: 30px;
    height: 30px;
  }
  .pie-pagina .contenedor-pie .mb-1 {
    display: flex;
  }
  .pie-pagina .contenedor-pie .mb-1 .tit-red {
    margin-left: 5%;
  }
  
  .copyright {
    background-color: #525151;
    color: #eeeceb;
    text-align: center;
    border-top: 1px solid #5a0000;
    padding-top: 2%;
    padding-bottom: 1%;
  }
  
  